#navbar-brand {
  color: white;
  vertical-align: top;
}

#brand {
  width: 30px;
  margin-right: 0.25rem;
}

#brand-text {
  color: white;
}

.message {
  margin-bottom: 20px;
  white-space: nowrap;
  flex-wrap: nowrap;
}

body {
  background-color: #282c34;
  color: white;
  padding-bottom: 100px;
}

#chat-container {
  padding: 0 5%;
  margin-top: 20px;
}

#send {
  position: fixed;
  bottom: 50px;
  left: 5%;
  max-width: 90%;
}

.col {
  flex: 0 0 75px;
}

.pfp {
  aspect-ratio: 1/1;
  width: 50px;
  border-radius: 50%;
  position: relative;
}
