html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}

#navbar-brand {
  color: white;
  vertical-align: top;
}

#brand {
  width: 30px;
  margin-right: 0.25rem;
}

#brand-text {
  color: white;
}

.message {
  margin-bottom: 20px;
  white-space: nowrap;
  flex-wrap: nowrap;
}

body {
  background-color: #282c34;
  color: white;
  box-sizing: content-box;
}

#chat-container {
  padding: 0 5%;
  padding-bottom: 100px;
  margin-top: 20px;
}

#send {
  position: absolute;
  bottom: 50px;
  left: 5%;
  max-width: 90%;
}

#send:read-only {
  cursor: default;
  box-shadow: none;
}

.col {
  flex: 0 0 75px;
}

.pfp {
  aspect-ratio: 1/1;
  width: 50px;
  border-radius: 50%;
  position: relative;
}

.fw-bold.row + div.row > * {
  max-width: initial;
}

.fw-bold.row + div.row > img {
  padding-left: 0px;
  padding-top: 5px;
}
